<apex:page standardController="Supplier__c" extensions="ViewSuppliers" showHeader="false" sidebar="false" recordSetVar="suppliers">
     <apex:stylesheet value="{!URLFOR($Resource.styles, 'styles.css')}"/>
 <apex:pageBlock title="Options">

  <apex:form >
         Filter by:
        <apex:selectList id="rt1" value="{!selectedObject}" size="1" required="true">
                    <apex:selectOptions value="{!ObjectOptions}"/>
                    <apex:actionSupport event="onchange" rerender="rt"/>

                </apex:selectList>
        <apex:selectList id="rt" value="{!RecordTypeID}" size="1" required="true">
                    <apex:selectOptions value="{!RecordTypeOptions}"/>
                </apex:selectList>
                
                <apex:commandLink value="View" action="{!query}" ></apex:commandLink>  
                <br/>
                Search: <apex:inputtext value="{!searchValue}" />
                 <apex:commandButton value="View" action="{!searchquery}" ></apex:commandButton>  
  </apex:form>
</apex:pageBlock>

<apex:pageBlock title="List of Suppliers">
    <apex:pageBlockButtons >
        <apex:outputLink value="https://c.ap1.visual.force.com/apex/CreateSupplier" >Create New</apex:outputLink>
        <apex:form >
            <apex:commandbutton action="{!save}" value="Edit"  />
            <apex:commandLink action="{!previous}" value="Previous" rendered="{!hasPrevious}" />
            <apex:commandLink action="{!next}" value="Next" rendered="{!hasNext}" />
                    </apex:form> 
    </apex:pageBlockButtons>

     <apex:pageBlockTable value="{!suppliers}" var="r" rowClasses="odd,even" id="msg">
            <apex:column headerValue="Supplier Code" id="suppliercode">
                <apex:outputLink value="https://c.ap1.visual.force.com/apex/CreateSupplier?id={!r.id}">
                   <apex:outputText value="{!r.name}"/>
                </apex:outputLink>
            </apex:column>
            <apex:column headerValue="Supplier Name">
                   <apex:outputText value="{!r.Supplier__c}"/>
            </apex:column>
            <apex:column headerValue="Address Line">
                   <apex:outputText value="{!r.Address__c}"/>
            </apex:column>
            <apex:column headerValue="Country">
                   <apex:outputText value="{!r.Country__c}"/>
            </apex:column>
            <apex:column headerValue="State">
                   <apex:outputText value="{!r.State__c}"/>
            </apex:column>
            <apex:column headerValue="Phone Number">
                    <apex:outputText value="{!r.Contact_Phone__c}"  />
                   
                   
                    <!-- <apex:form >
                         <apex:inlineEditSupport event="ondblClick"
showOnEdit="saveButton,cancelButton" hideOnEdit="editButton" /> 
                    </apex:form> -->
            </apex:column>
           
      </apex:pageBlockTable>
      
</apex:pageBlock>




</apex:page>